@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(172, 172, 172, 0.376);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #ffffff;
    padding: 20px 40px;
    width: 70vh;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    gap: 20px;
    border-radius: 30px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.modal {
    margin: auto;
}
.header {
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #00507A;
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: left;
}

.textfield {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 9px;
    color: #000000;
    display: flex;
    flex-direction: column;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.textfield label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.textfield .top-label {
    display: block;
    color: #8c8c8c;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 4px;
}

.textfield input {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    padding:9px;
    padding-left: 13px;
    width: 90%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 6px;
    border: none;
    background-color: #ebebeb;
}

.fixed-text {
    font-family: 'Quicksand', sans-serif;
    display: block;
    margin-top: 5px;
}

.area-field {
    text-align: left;
    grid-column: 1/ span 2;
    margin-top: -18px;
}
.area-field input {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    padding:9px;
    padding-left: 13px;
    width: 43%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 6px;
    border: none;
    background-color: #ebebeb;
}
.area-field label {
    display: block;
    margin-bottom: 4px;
    color: #8c8c8c;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Quicksand', sans-serif;
}

.choose-unit {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 10px;
    margin-left: 4px;
    width: 13%;
    padding: 7px;
    border-width: 0;
    font-size: 16px;
}


.save-button {
    grid-column: 1 / span 2;
    grid-row: 5;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    background-color: #00507A;
    padding:15px;
    color: #ffffff;
    width: 50%;
    display: block;
    margin: -10px auto 25px;
    display: block;
    cursor: pointer;
}

.button-close {
    position: absolute;
    top: 0px;
    right: 10px;
    padding-right: 24px;
    padding-top: 9px;
    background: none;
    border: none;
    cursor: pointer;
    grid-column: 2;
    grid-row: 1;
}

.icon {
    color: #9f9f9f;
    font-size: 35px;
}

.checkbox-section {
    grid-column: 1 / span 2;
    grid-row: 4;
    text-align: center;
    margin-bottom:25px;
    margin-top:7px;
    font-family: 'Quicksand', sans-serif;
}
.checkbox-section input {
    margin-right: 10px;
}
.checkbox-section input[type="checkbox"] {
    background-color: #d0d0d0;
    cursor: pointer;
    transform: scale(1.8);
}

.checkbox-section label {
    margin-right: 30px;
}

