.notification-box {
  max-width: 20vw;
  width: 100%;
  color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
  margin-bottom: 5%;
}

.notification-box h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.notification-box p {
  font-size: 20px;
  margin-bottom: 15px;
}

.notification-read {
  color: var(--color-1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 40px;
  transition: background-color 0.3s;
}

.notification-read:hover {
  color: var(--color-3);
}
