:root {
  --sidePanelItemWidth: 32px;
}

.side-panel {
  padding: 0 1% 0 1%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  height: 100vh;
  flex-shrink: 0;
  border-right: 1px solid rgb(216, 216, 216);
  background: white;
  z-index: 10;
  position: fixed;
}

.divider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  height: 2px;
  border-radius: 18px;
  margin: 13px 0;
  background: #f8f9fe;
}
.divider-bottom {
  height: 2px;
  border-radius: 18px;
  margin: 100px 0;
  background: #f8f9fe;
}
.linksMenu {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 10px 0 10px 0;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 15px;
  background: #f2f2f7;
}

.active {
  z-index: 1;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  align-items: center;
  border-radius: 15px;
  border: 1px solid #f2f2f7;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(194, 194, 194, 0.01),
    0px 4px 4px 0px rgba(0, 0, 0, 0.08);

  /* Additional styles for better user feedback */
  transition: all 0.3s ease; /* Add smooth transition */
}

.active:hover {
  z-index: 1;
  transform: translateY(-2px);
  box-shadow: 0px 6px 12px 0px rgba(50, 50, 71, 0.05),
    0px 6px 6px 0px rgba(0, 0, 0, 0.12);
}

.active:focus {
  z-index: 1;
  outline: none;
  box-shadow: 0px 0px 0px 3px rgba(0, 123, 255, 0.4);
}

.side-panel-button {
  cursor: pointer;
  margin-top: 10px;
  flex-shrink: 0;
  border-radius: 15px;
}

.side-panel-icon {
  flex-shrink: 20;
  border-radius: 150px;
  margin: 0;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  color: #d0d1d2;
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.active {
  color: #00507a;
}

.menuItem {
  cursor: pointer;
  color: var(--color-3);
  width: var(--sidePanelItemWidth);
  height: 30px;
  flex-shrink: 0;
  margin-top: 10px;
}

.propertiesItem {
  color: var(--color-2);
  width: var(--sidePanelItemWidth);
  height: auto;
  flex-shrink: 0;
  padding-top: 2px;
}

.dashboardItem {
  color: var(--color-2);
  width: var(--sidePanelItemWidth);
  height: auto;
  flex-shrink: 0;
  padding-top: 2px;
}

.overallItem {
  color: var(--color-2);
  width: var(--sidePanelItemWidth);
  height: auto;
  flex-shrink: 0;
  padding-top: 2px;
}

.settingsItem {
  color: var(--color-3);
  width: var(--sidePanelItemWidth);
  height: auto;
  flex-shrink: 0;
  padding-top: 2px;
}

.logOutItem {
  margin: 1vh 0 1vh 0;
  color: var(--color-3);
  width: var(--sidePanelItemWidth);
  height: auto;
  flex-shrink: 0;
  padding: 0 0 3vh 0;
}

.item {
  cursor: pointer;
  padding: 10px 0 1vh 0;
}
