.menubar {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 0 10px;
    box-sizing: border-box;
    border: 2px solid #F8F9FE;
    position: absolute;
}

.menubar-title{
    color: #D0D1D2;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    margin-bottom: 7px;
    margin-top: auto;
    display: inline-flex;
    align-items: center;
    gap: 40px;
}

.vl {
    border-left: 2px solid #F8F9FE;
    height: 30px;
    border-radius: 18px;
}

.menubar-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile {
    position: absolute;
    right: 10px; /* Adjust the value as needed for proper positioning */
    display: flex;
    align-items: center;
    justify-content: center; /* Horizontally center the content */
}

.profile-image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-name {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    display: inline-block; /* Display first name and surname in the same line */
    margin-left: 5px; /* Adjust the value for spacing */
}
