.box {
    width: 80%;
    height: 95%;
    border-radius: 20px;
    position: relative;
    margin: 20px;
    overflow: hidden;
}

.box-content {
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    color: #FFF;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    border: 7px solid #14453D;
    border-radius: 20px;

}

.box-content-title{
    color: #14453D;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}


.box-address,
.box-postcode {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
}

.box-overlay {
    background: rgba(0, 0, 0, 0.5);
}
