.benefit-blur {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  transition: filter 1s ease-in-out;
}

.benefit-text {
  font-size: 24px;
  color: white;
  transition: 1s ease;
}

.benefit-section {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  color: white;
  z-index: 1;
  cursor: default;
  white-space: nowrap;
}

.benefit-box {
  width: 60vw;
  height: 50vh;
  font-size: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.benefit-box-title {
  padding: 5px;
  border-bottom: 1px solid white;
}

.benefit-box-content {
  font-size: 20px;
  padding: 10px;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.benefit-box-content-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.benefit-box-content-left p {
  padding: 15px;
  border-bottom: 1px solid white;
}

.benefit-box-content-right {
  display: flex;
  height: 35vh;
  width: auto;
}

.benefit-box-content-right img {
  border-radius: 20px;
  height: 40vh;
  width: auto;
}

@media screen and (max-width: 1575px) {
  .benefit-box {
    flex-direction: column;
  }
  .benefit-box-content-right img {
    height: 30vh;
    width: auto;
  }
  .benefit-box {
    height: 60vh;
  }
  .benefit-box-content-right {
    padding-top: 20px;
  }
}
