.welcome-section {
  display: flex;
  flex-direction: row;
  position: fixed;
  /* top: 50%; */
  left: 45%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  color: white;
  z-index: 1;
  cursor: default;
  white-space: nowrap;
  transition: 1s ease;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-text {
  font-size: 200%;
}

.welcome-page-logo {
  height: 150px;
  width: auto;
  margin-right: 30px;
  padding-bottom: 6px;
}

.parallex-image {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: 100% auto;
  object-fit: cover;
  background-size: cover;
}
