.Property {
    justify-content: center;
    top: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    background-color: white;
    padding: 10px;
    flex-direction: column; /* Add this line to set the flex direction to column */
}


